body, html {
  height: 100%;
  width: 100%;
}


#mapstyle {
  width: 100%;
  height: 100%;
}

/**-----------------------
 * *  CITY NAME STYLE
 *------------------------**/
.city {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
  color: rgb(154, 0, 197);
  font-family: 'Circular-std', sans-serif;
}

.city {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 15px;
  color: rgb(0, 0, 0);
  font-family: 'Circular-std', sans-serif;
}

/**-----------------------
 * *  WEATHER CODE STYLE
 *------------------------**/

 #weather{
  display: flex;
  justify-content: center;
  font-style: italic;
  font-size: 13px;
 }

/**-----------------------
 * *  TEMPERATURE STYLE
 *------------------------**/
#temp{
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
}


.cold{
  color: rgb(43, 223, 255);
}

.fresh{
  color: rgb(45, 115, 255);;
  
}

.warm{
  color: coral;
}

.hot{
  color: red;
}

#weatherIcon{
  display: block;
  justify-content: center;
  margin:auto;
  height: 40px;
  width: 40px;
}